{{#author}}
    <h1>{{authorName}}</h1>
{{/author}}
<div class="article-list">
    {{#article}}
        <article>
            <a href="/article/{{slug}}">
                <img src="/images/{{image}}">
            </a>
            <h2>
                <a href="/article/{{slug}}">{{name}}</a>
            </h2>
        </article>
    {{/article}}
</div>
